:root:not([dark-theme]) {
  --back: #FFF;
  --softback: #EEE;
  --border: #CCC;
  --softborder: #DDD;
  --highlight: #00F;
  --color: #000;
  --softcolor: #303038;
  --highlightedtext: var(--back);
  --invert-rate: 100%;
}

:root[dark-theme] {
  --back: #202025;
  --softback: #303035;
  --border: #505055;
  --softborder: #404045;
  --highlight: #00F;
  --color: #FFF;
  --softcolor: #C0C0C8;
  --highlightedtext: var(--back);
  --invert-rate: 0%;
}

body {
  background-color: var(--back);
}

* {
  padding: 0;
  margin: 0;
  color: var(--color);
  background-color: #0000;
  border: none;
  box-sizing: border-box;
  transition-property: width, height;
  transition-duration: 150ms;
  font-family: 'Rubik';
}

hr {
  background-color: var(--border);
  height: 1px;
}

input[type=submit] {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--color);
}

.monocolor-icon {
  filter: invert(var(--invert-rate));
}

button {
  cursor: pointer;
}